<div class="pagination pt-4 pb-4">
    {% if products.has_other_pages %}
        <div class="btn-group" role="group" aria-label="Item pagination">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}" class="btn btn-outline-light">&laquo;</a>
            {% endif %}

            {% for page_number in products.paginator.page_range %}
            {% if products.number == page_number %}
                <button class="btn btn-outline-primary active">
                    <span><b>{{ page_number }}</b></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-light">
                    {{ page_number }}
                </a>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn btn-outline-light">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
</div>
